<div id="form_container">
  <h5>Welcome! Use the form below to create notes about a User. Our Users have attributes, sort of like Pokemon! Cool, right?</h5>
  <h6 class="subheader" id="user_attributes_header">Users have the following attributes:</h6>
  <p class="attributes">@first_name	@last_name	@phone_number	@email	@street_address	@city	@state	@zip</p>

  <div id="initial_information_container">
  <h6 class="subheader">Heres how it works:</h6>
  <p class="example"> <span class="example_headers">You type: "Hi there </span><span class="italic">@first_name @last_name</span><span class="example_headers">! Is </span><span class="italic">@phone_number</span><span class="example_headers"> still the best number to reach you?" </span> </p>
  <p class="example"><span class="example_headers">Your Note materializes: "Hi there </span><span class="italic">Tadd Williams</span><span class="example_headers">! Is </span><span class="italic">(555) 555-5555</span> <span class="example_headers"> still the best number to reach you?"<span></p>
  </div>
  <div id="notes_form_container">
    <div id="note_container"></div>
  <form id="notes_form">
    <fieldset>
      <legend>Create Note</legend>
      <div class="input-field col s12">
        <select id="user_select">
          <option disabled selected> Select a User</option>
          <% @Users.each do |u|%>
            <option value="<%= u.first_name %>"><%= u.first_name %></option>
          <% end %>
        </select>
      </div>
      <input type="text" name="note" placeholder="Add your note here. ex. Hi there @first_name @last_name! Is @phone_number your correct phone number?"></input>
      <br>
      <input type="submit" value="Create Note" class="button"></input>
    </fieldset>
  </form>
</div>
</div>
