<!DOCTYPE html>
<html>
<head>
  <title>RG_HW Akeem</title>
  <script src=""></script>

  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header"><h1 id="header_title">Akeem's Rooster Grin Homework</h1><header>
<%= yield %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
$('select').material_select();
});
</script>
</html>
